
:root {
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);

}

body {
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
}

canvas {
  width: 100%;
  margin-top: 1rem;
}

p {
  margin:1rem;
}

.title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: .8;
  margin: 0;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.head {
  margin-top:1rem;
  margin-bottom:1rem;
  color:black;
   padding: 1em;
  background: white;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

  .LinkList {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    /* box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75); */
  }

  .LinkList:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  }

  .about {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .btn-light {
    max-width: 10rem;
    font-weight: bold;
    border: 5px solid white;
    text-decoration: none;
  }

  .btn-light:hover{
    font-weight: bold;
    text-decoration: none;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  }
