
:root {
  --gradient: linear-gradient(90deg, #500a58, #c35acf, #e4c4e8, #ecbfbf, #ab3535, #5b0505);
}

body {
  background-size: 200%;
  background-image: var(--gradient);
  animation: bg-animation 60s infinite;
}

p {
  margin:1rem;
}

.title {
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5rem;
  color: #ee6352;
  line-height: .8;
  margin: 1rem;
  background: -webkit-linear-gradient(160deg, #500a58, #c35acf,  #ab3535, #5b0505);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.head {
  margin-top:5rem;
  margin-bottom:1rem;
  color:black;
  padding: 1rem;
  background: white;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.blogMain {
  margin-left: 1rem;
}

.blogPort {
  margin:2rem;
  margin-top: 0.5rem;
  color:black;
  padding: 1rem;
  background: white;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.blogImage {
  width:80%;
  border-style: solid;
  border-width: thin;
  border-color: black;
   border-radius: 15px 15px 15px 15px;
}

.headimage {
  margin-bottom: 1rem;
  border-radius: 50%;
}

.LinkList {
  width: 5rem;
  color: white;
}

.LinkList:hover{
  color: lightgrey;
}

.buttons {
  padding-left: 2rem;
  padding-right: 2rem;
}

.AboutText {
  font-family: 'Do Hyeon', sans-serif;
  color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 1rem;
  font-size: 18px;
}

.btn-light {
  font-size: 16px;
  padding: 1rem;
  font-family: 'Do Hyeon', sans-serif;
  margin: 1rem;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.btn-light:hover{
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
