
@font-face {
    font-family: 'ket';
    src: url('Fonts/ketch___-webfont.woff2') format('woff2'),
         url('Fonts/ketch___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 0.3rem;
    border-style:outset;
    border-color: goldenrod;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0.5rem;
  font-family: 'ket';
}

li a:hover {
  background-color: rgb(71, 71, 71);
}

body {
    background-image:linear-gradient(rgb(93, 6, 6),black);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10rem;
    padding-right: 10rem;

}

h1 {
    margin: 0.5rem;
    font-family: 'ket';
}  

h2 {
    margin: 0.5rem;
    font-family: 'ket';
}

h3 {
    margin: 0.5rem;
    font-family: 'ket';
}
p {
    margin: 0.5rem;
    padding: 1rem;
    font-family: 'ket';
}

.Intro {
    margin: 1.5rem;
}

.Intro-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 2px;
    font-size: 2rem;
    border-radius: 20px;
    border: 0.3rem;
    border-style:outset;
    border-color: goldenrod;
    background-color: #000000;
    text-align: center;
}

.Intro-Logos {
    width:30%;
}

.Banner-Image {
    width: 30%;
}

.links {
    width: 100%;
    max-width: 60%;
    margin: 0.5rem;
}

.LinkList {
    display: flex;
    flex-direction: row;
}

.main {

}

canvas {
    width: 100%;
    margin: 0rem;
  }

.infopic {
    width: 100%;
    max-width: 65%;
    border: 3%;
    margin: 2%;
    border-style:solid;
    border-color: black;
}

.infopic2 {
    width: 100%;
    max-width: 20%;
    border: 0.2rem;
    margin: 2%;
}

.infopicNC {
    width: 100%;
    max-width: 75%;
    border: 0.3rem;
    margin: 2%;
    border-style:solid;
    border-color: rgb(192, 21, 21);
}

.Front-End-Div {
    min-width: 100%;
}

.Front-End-Banner {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 0.3rem;
    border-style:outset;
    border-color: goldenrod;
    background-image: url("Images/books.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Front-End-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;  
}

.Scroll-Banner-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/scrolltop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 1rem;
}

.Scroll-Banner-Image {
    margin: 0;
    width: 15%;
    max-width: 50%;
}

.Scroll-Banner-Image2 {
    margin: 0;
    width: 22%;
    max-width: 50%;
}

.ScrollBot {
    width: 100%;
}

.ScrollDiv {
    display: flex;
    flex-direction: row;
    display: none; 
     align-items: center;
    justify-content: center; 
    text-align: center;
}

.Scroll-Desc {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-image: url("Images/scrollbody.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 80%;
    font-size: 2rem;
    text-align: center;
    margin-top: -1rem;
}

.Scroll-Desc-Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.waxLink {
    width: 40%;
}

.About {
    margin: 1.5rem;
}

.About-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 2px;
    font-size: 2rem;
    border-radius: 20px;
    border: 0.3rem;
    border-style:outset;
    border-color: goldenrod;
    background-color: #000000;
    text-align: center;
    margin: 3rem;
}

.About-Image {
    width: 100%;
    max-width: 60%;
    border-radius: 50px;
    border: 0.3rem;
    border-style:outset;
    border-color: goldenrod;
}


  @media screen and (max-width: 600px){
    body {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    /* canvas {
        display: none;
      } */

    .waxLink {
        width: 30%;
    }

    .links {
        margin: 0.4rem;
        max-width: 60%;
    }

    .Intro-Text {
        font-size: 1.2rem;

    }

    .Intro-Logos2 {
        max-width: 60%;
        margin: 0rem;
    }
    
    .Scroll-Desc {
        font-size: 1rem;
    }

    .infopic {
        width: 100%;
    }

    .infopic2 {
        width: 100%;
    }

    .infopicNC {
        width: 100%;
    } 

    .Ant-Desc-Inner {
        flex-direction: column;
    }
   
    p {
        margin: 0.5rem;
        padding: 0.5rem;
    }

  }

  @media only screen and (max-width: 800px) and (min-width:601px){ 

    .links {
        margin: 0.4rem;
        max-width: 60%;
    }

    .Intro-Text {
        font-size: 1.2rem;

    }

    .Intro-Logos2 {
        max-width: 40%;
        margin: 0rem;
    }
   
    .Ant-Desc {
        font-size: 1.8rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .NC-Desc {
        font-size: 1.8rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .Ant-Desc-Inner {
        flex-direction: column;
    }

    body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
  }